ion-content {
  --background: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}


.image {
  width: 25%;
}

.userDisplay {
  background-color: grey;
}

.loginButton {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.standardLayout {
  text-align: center;
}

.buttons {
  position: relative;
  top: 100%;
}